body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0d82bc, #e0fbc2);
  }
 html{
    font-size: 62.5%;
 } 
  .container {
    max-width: 60rem;
    margin: 2rem;
    padding: 2rem;
    background: linear-gradient(to right, #b4c9d8, #0d8fd6);
    border-radius: 1rem;
    box-shadow: 2rem 2rem 2rem 3rem rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
  }
  
  h1 {
    text-align: center;
    color: #ff0606;
    box-shadow: .1rem .1rem 31rem 2rem #45a049;
  }
  
  form {
    margin-bottom: 2rem;
  }
  
  label {
    font-size: 1.5rem;
    display: block;
    margin-bottom: .5rem;
    color: #333;
  }
  
  input, textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: .1rem solid #ddd;
    border-radius: .5rem;
    background-color: #f9f9f9;
  }
  
  button {
    background: linear-gradient(to right, #4caf50, #45a049);
    color: #fff;
    padding: 1rem;
    border: none;
    cursor: pointer;
    border-radius: .5rem;
  }
  
  button:hover {
    background: linear-gradient(to right, #45a049, #4caf50);
  }
  
  .task-list {
    margin-top: 2rem;
  }
  
  ul {
    list-style-type: none ;
    padding: .1rem;
  }
  
  li {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    background: linear-gradient(to right, #ffffff, #e6e9f0);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
  }
  li button{
    margin: 1rem;
    
  }
  li:hover {
    background: linear-gradient(to right, #e6e9f0, #ffffff);
  }
  
  .completed {
    text-decoration: line-through;
    color: #777;
    background: linear-gradient(to right, #d3ffd3, #c2e9fb);
    transition: background 0.3s ease;
  }
  